<div class="instructions">
    <h4>Options:</h4>
    <ol>
        <li>Move blocks</li>
        <li>Relink links</li>
        <li>Shift links</li>
        <li>Create new links</li>
        <li>Open the context menu (right click) and change the font size for nodes and links</li>
        <li>You can click ctrl+z / ctrl+y (undo / redo)</li>
        <li>Every time you change something you see that icons above the diagram are changing (Saving / Saved)</li>
    </ol>
</div>