<div class="summernote">summernote 1</div>
<div class="summernote">summernote 2</div>
<div class="summernote">summernote 3</div>
<div class="summernote">summernote 4</div>
<div class="summernote">summernote 5</div>

<script>
    $('.summernote').summernote({
        placeholder: 'Text',
        tabsize: 2,
        height: 100
    });
    
</script>